/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Freight Big Pro";
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #000000;
}


.load {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.load > h1 {
    color: #f8f4f4;
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -4px;
    position: relative;
    z-index: 9;
}

.yellowload1 {
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 8;
}

.load > video {
    height: 100%;
    width: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 6;
}

.yellowload2 {
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 7;
}

.nav {
    position: absolute;
    width: 100%;
    padding: 20px 40px;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

.nav > h1 > a {
    font-size: 2vw;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav > ul > li > a {
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 1.5vw;
    font-family: "Neue Haas Grotesk Display Pro";
    font-weight: 200;
    position: relative;
}

.nav > ul > li > a::before {
    content: "";
    position: absolute;
    bottom: -8px;
    height: 4px;
    width: 0;
    background: #f0ffff;
    border-radius: 50px;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.nav > ul > li > a:hover::before {
    width: 100%;
}

.core-logo path {
    fill: #010000;
}

.rout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
}

.rout > li {
    list-style: none;
    font-size: 1.5vw;
    font-family: "Neue Haas Grotesk Display Pro";
    font-weight: 200;

}

#page1 {
    height: 100vh;
    width: 100%;
    background: #F5E41B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

#page1 > h1 {
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -4px;
}

#page2 {
    height: 100vh;
    width: 100%;
    background: #000000;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 30px;
}

.element {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.element .blur{
    position: absolute;
    width: 40%;
    left: 46%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background: -o-linear-gradient(left,#f5e31bf5,#F5E41B,#f5e31bf5);
    background: -webkit-gradient(linear,left top, right top,from(#f5e31bf5),color-stop(#F5E41B),to(#f5e31bf5));
    background: linear-gradient(to right,#f5e31bf5,#F5E41B,#f5e31bf5);
    height: 100%;
    z-index: 8;
}

.element > h2 > a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 6.8vw;
    text-transform: uppercase;
    line-height: 5vw;
    font-weight: 300;
    position: relative;
    z-index: 9;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    font-weight: 700;

}

.element > h2 > a:hover {
    color: black;
}

.element .moving {
    background-color: #F5E41B;
    width: 110%;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-45%) scaleY(0);
        -ms-transform: translate(0,-45%) scaleY(0);
            transform: translate(0,-45%) scaleY(0);
    padding: 6px 0;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

.element:hover .moving{
    -webkit-transform: translate(0,-45%) scaleY(1);
        -ms-transform: translate(0,-45%) scaleY(1);
            transform: translate(0,-45%) scaleY(1);
}

.element:hover h2 {
    font-style: italic;
}


.element .moving .moving-in {
    white-space: nowrap;
    display: inline-block;
    -webkit-animation-name: moving;
            animation-name: moving;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.element .moving .moving-in h5 {
    color: black;
    display: inline-block;
    font-size: 17px;
    font-family: "Gilroy-Medium";
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: 500;
}

@-webkit-keyframes moving {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    to{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

@keyframes moving {
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    to{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background: #E7E7E8;
}

.img-container {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.image-div {
    height: 33vw;
    width: 28vw;
    background-color: red;
    position: relative;
    overflow: hidden;
    margin: 22px;
    overflow: hidden;
}

.image-div img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    z-index: 9;
}

.overlay h2 {
    font-size: 2.5vw;
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
    opacity: 0;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.image-div:hover .overlay {
    background: #000000e1;
}

.image-div:hover .overlay h2 {
    opacity: 1;
}

.image-div:hover img {
    scale: 1.2;
}

#page3 {
    background-color: #E5E5E5;
}

.bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3.3rem;
    width: 99vw;
}

.bio > .about {
    width: 25vw;
}

.bio > .about > h1 {
    line-height: 65px;
}

.bio > .about > p {
    font-size: 1.7vw;
    padding-top: 40px;
}

.bio > .about > .name {
    border-bottom: 1px solid black;
}

.bio > .about > .name > .first {
    font-size: 5.5vw;
}

.bio > .about > .name > .last {
    font-size: 5vw;
    padding-left: 4rem;
}

.bio > img {
    border-radius: 10px;
    height: 490px;
    width: 480px;
}

#page4 {
    height: 98vh;
    background-color: #D99067;
}

#page4 > .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5rem;
}

#page4 > .head > .one {
    font-size: 1.9vw;
    color: #F9F4EE;
    font-family: serif;
    font-weight: 500;
}

#page4 > .head > .two {
    font-size: 3vw;
    color: #F9F4EE;
    font-weight: 700;
}

.connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px;
    margin-top: 5vw;
}

.connect > .focusconnect {
    margin-top: -48px;
}

.connect > .focusconnect > a {
    text-decoration: none;
    color: #F9F4EE;
    
}

.connect > .focusconnect > a > h1 {
    font-family: sans;
    font-weight: 500;
    font-size: 1.7vw;
    padding-top: 6px;
}

.connect > .focusconnect > a > i {
    font-size: 2em;
    padding-left: 26px;
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -o-linear-gradient(top, white, black);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: linear-gradient(to bottom, white, black);
}